@import url('https://fonts.googleapis.com/css2?family=monserrat:wght@300;400;700&display=swap');

body{
    margin:0px;
    padding: 0px;
    background-color: #ffffff;
    font-family: 'monserrat';
}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
#main{
    width:100%;
    height:768px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./Assets/images(1).png');
    position: relative;
    z-index: 0;
}
nav{
	display: flex;
    font-size: 1.4rem;
    font-weight: 500;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	left: 0;
	top: 0;
	width:100%;
	z-index: 1;
    background-color: transparent;
    transition: 0.6s ease-in-out;
}
nav.active{
	box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.157);
	background-color: #f1f0f0;
    color: #f08b18;
    
}
nav ul{
	display: flex;
}
.active{
    background-color: #eb1e73;
    color:#ffffff;
	box-shadow: 5px 10px 30px rgba(226, 225, 225, 0.411);
	transition: all ease 0.2s;
}
.active:hover{
    background-color: #dbd5d5;
    color:#ffffff;
	box-shadow: 5px 10px 30px rgba(198, 64, 64, 0.411);
	transition: all ease 0.2s;
}
nav ul li a{
    font-family: 'monserrat';
	height:40px;
	line-height: 43px;
	margin: 3px;
	padding: 0px 22px;
	display: flex;
	font-size: 1.1rem;
	text-transform: uppercase;
	font-weight: 500;
	color:#000000;
    letter-spacing: 0.5px;
    border-radius: 3px;
    transition: 0.2s ease-in-out;
}
nav ul li a:hover{
	background-color: #e63b7d;
    color:#f0e7e7;
	box-shadow: 5px 10px 30px rgba(190, 187, 187, 0.336);
	transition: all ease 0.2s;
}
nav .menu-btn,
.menu-icon{
		display:none;
}

.home-heading{
	font-family: 'Monserrat';
	width: 900px;
    left: 25%;
    top: 55%;
	position: relative;
    text-align: left;
	transform: translate(-25%,-55%);
}
.home-heading .details{
    font-size: 23px;
    color: #181818;
}
.home-heading h2{
	font-family:'monserrat';
	text-transform: uppercase;
	font-size: 3rem;
	margin: 0px;
	letter-spacing: 2px;
	color:#ffffff;
}
.home-heading p{
	font-family:'monserrat';
	font-size: 1.6rem;
    justify-content: center;
	letter-spacing: 1.5px;
	color:#ffffff;
}
.home-btns{
    display: flex;
    margin-top: 40px;
}
.home-btn{
	width:150px;
	height: 40px;
	display: grid;
	justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-family:'monserrat';
    background-color: #f75289e3;
    border-radius: 4px;
	color:#f7f1f1f5;
}
.home-btn:hover{
	background-color: #ebe6e7;
    transition: all ease 0.5s;
    color: #1a0d05d7;
    border: 2px solid #ece8e9ea;
}

#products{
    width:100%;
    box-sizing: border-box;
    font-family:'monserrat';
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}
#products h1{
    font-family:'monserrat';
    letter-spacing: 1.1px;
    text-align: center;
    color: #000000;
    font-size: 3rem;
    font-weight: 500;
}

.a-container{
    display: flex;
    justify-content: center;
    align-content: center;


}
.a-box{
    background-color: #ffffff;
    width:350px;
    height: 415px;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid #ddd;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    position: relative;
}
.a-b-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;

}
.a-b-img img{
    padding: 15px;
    margin-top: 30px;
    width:250px;
    height: 250px;

}
.a-box:hover{
    box-shadow: 2px 2px 12px rgba(248, 203, 112, 0.87);
}
.a-b-text{
    width: 100%;
    height: 40%;
    background-color:#ffffff;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.a-b-text h2{
    color: #3d2514;
}
.productbox-button{
    width:120px;
	height: 40px;
	display: flex;
	justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-family:'monserrat';
    background-color: #f08b18;
    border-color: white;
    box-shadow: 5px 10px 30px rgba(252, 252, 250, 0.904);
    border-radius: 5px;
	color:#ffffff;
}
.productbox-button:hover{
	background-color: #2e2c2a ;
    transition: all ease 0.5s;
    color: #ece8e5;
    border: 2px solid #e6e2df;
}
#about{
	width:100%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
    flex-direction: column;
	justify-content: space-between;
	padding: 30px 5%;
    position: relative;
}
#about h1{
    font-size: 3rem;
    color:#160d06e5;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    font-family: 'monserrat';
    margin-bottom: 40px;
}
.row-container{
    flex-direction: row;
}
.about-image{
    width: 60%;
}
.about-image img{
  width: 400px;
}
.about-text{
    width: 85%;
    padding-right: 90px;
    color: #fff;
    text-align: justify;
    
}
.about-text h2{
	font-size: 2.1rem;
	color:#160c04d5;
    margin: 0px;
    padding: 0px;
    font-family: 'monserrat';
}
.about-text p{
    font-family:'monserrat';
    letter-spacing: 0.3px;
    line-height: 1.5rem;
    color: #000000;
    font-size: 1rem;
	
}
.about-text button{
    margin-top: 20px;
	width: 140px;
	height: 40px;
	display: flex;
	justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-family:'monserrat';
    background-color: #f08b18;
    border-color: #e6e2df;
    box-shadow: 5px 10px 30px rgba(247, 246, 245, 0.925);
    border-radius: 5px;
	color:#ffffff;
}
.about-text button:hover{
    background-color: #9c9595;
    transition: all ease 0.5s;
    color: #f1f0ef;
    border: 2px solid #e9e8e7;
}

#contact{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#contact h1{
        font-size: 3rem;
        color:#160d06e5;
        font-weight: 500;
        padding: 0px;
        font-family: 'monserrat';
        margin-bottom: 50px;
}
#contact form{
    width: 600px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
#contact form input,
#contact form textarea{
    width:100%;
    height:50px;
    margin:5px 0px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
}
#contact form textarea{
    height: 80px;
}
#contact form input[type="submit"]{
    height: 45px;
    background: linear-gradient(90deg, #f08b18 20%,#f08b18 );
    color: #ffffff;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    nav ul {
        background-color: transparent;
        transform: translateY(0);
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        padding: 8px 15px;
    }

    .home-heading {
        padding: 20px;
    }

    .home-heading h2 {
        font-size: 1.5rem;
    }

    .home-heading p {
        font-size: 1rem;
    }

    .home-btns {
        margin-top: 0px;
    }

    .home-btn {
        width: 110px;
        height: 35px;
        font-size: 0.9rem;
    }
    #about{
        padding: 10px;
	}
	.about-text{
        width: 100%;
        padding: 10px;
	}
    .about-image{
        width: 80%;
        height: 50%;
        margin-top: 0;
    }
    .about-image img{
      width: 400px;
    }
    .about-text h2{
        margin: 0px;
        padding: 0px;
    }
    .about-text p{
        width: 100%;
        padding: 10px;
        
    }
    .about-text button{
        margin-left: 100px;
        display:flex;
    }
}
@media(max-width:620px){
    #contact form{
        width:90%;
    }
}

@media(max-width:1190px){
	#main{
		background-size: 1150px !important;
		
	}
	.home-heading{
		left: 50%;
		top: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    .home-heading h2{
        font-size: 1.5rem;
    }
    .home-heading h1{
        font-size: 3rem;
    }
    .about-image img{
		height: 200px;
        width: 100%;
    }
    #products{
		height:auto;
    }
    .a-container{
		flex-wrap: wrap;
	}
    .a-box{
		flex-grow: 1;
	}
    .a-b-img img{
		object-fit:contain;
    }
    
    

}

@media(max-width:970px){
	#main{
		height: 650px;
	}
	.home-heading{
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
    }
    .home-btn{
        margin-left: 30%;
        margin-top: 0px;
    }
	#about{
		justify-content: center;
        text-align: center;
	}
	.about-text{
        width: 100%;
        justify-content: center;
        text-align: center;
        align-items: center;
	}
	.about-text h1{
		font-size:3rem;
    }
    .about-text p{
        width: 100%;
        align-items: center;
    }
    #products{
        margin-bottom: 100px;
    }
}
@media(max-width:600px){
	.home-heading{
		width:100%;
    }
    
}

@media(max-width:1100px){.menu-icon{
    display:block;}
        nav{
            justify-content: space-between;
            height: 65px;
            padding: 0px 30px;
        }
        .home-btns{
            margin: 0;
        }
        .menu{
            display:none;
            position:absolute;
            top:65px;
            left:0px;
            background-color:#ffffff;
            border-bottom:4px solid #FF1414;
            width:100%;
            padding:0px;
            margin:0px;
        }
        .menu li{
            width:100%;
        }
        nav .menu li a{
            width:100%;
            height:40px;
            justify-content: center;
            align-items: center;
            margin:0px;
            padding: 25px;
            border:1px solid rgba(38,38,38,0.03);
        }
        nav .menu-icon{
            cursor:pointer;
            float:right;
            padding:28px 20px;
            position:relative;
            user-select: none;
        }
        nav .menu-icon .nav-icon{
            background-color:#3d2514;
            display:block;
            height:2px;
            position:relative;
            transition: background 0.2s ease-out;
            width:24px;
        }
        nav .menu-icon .nav-icon:before,
        nav .menu-icon .nav-icon:after{
            background:rgb(255, 255, 255);
            content:'';
            display:block;
            height:100%;
            position:absolute;
            transition:all ease-out 0.2s;
            width:100%;
        }
        nav .menu-icon .nav-icon:before{
            top:6px;
            background-color: #3d2514;
        }
        nav .menu-icon .nav-icon:after{
            top:-6px;
            background-color: #3d2514;
        }
        nav .menu-btn:checked ~ .menu-icon .nav-icon{
            background:transparent;
        }
        nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
            transform: rotate(-45deg);
            top:0;
            background-color: #3d2514;
        }
        nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
            transform: rotate(45deg);
            top:0;
            background-color: #3d2514;
        }
        nav .menu-btn{
            display:none;
        }
        nav .menu-btn:checked ~ .menu{
            display:block;
        }}
        @media(max-width:400px){
            .a-box{
                width: 100%;
                height:400px;
            }
        }